@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f7f9f8;
  font-family: "Kanit", sans-serif;
}

.bg-price1 {
  background: #c3f209;
  color: #4213fa;
}

.bg-price11 {
  background: #836760;
  color: #fff;
}

.bg-nearprice1 {
  background: #eeb3a6;
  color: #0e4956;
}


